@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Orbitron:wght@900&display=swap'); 


body {
    min-height: 100vh;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-weight: lighter;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div {
    display: block;
}

header {    
    width: 100%;
    background-image: url("back.jpg");
    background-size: cover;   
    background-color: #252B42;
}

.nav-bar {    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:center;
    padding: 30px 10%;
}

.nav-links li {
    display: inline-block;
    padding: 0px 10px; 
}

.nav-links li a {
    padding: 5px;
    color: #fff;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    background-color: #23A6F0;
    border-radius: 10px;

}
.nav-logo{
    margin-right: 50px;
}

.nav-logo h1 {
    cursor: pointer;
    color: #fff;
    font-weight: 700;
}
.nav-cta{
    margin-left:auto;
}

.nav-cta div {
    display: inline-block;
    padding: 0px 10px;    
}

.nav-cta .nav-login li a{
    color: #fff;
    font-size: 16px;
    transition: all 0.3s ease 0s;
}

.nav-cta .nav-login li a:hover{
    color: #23A6F0;
}

.nav-btn {
    background-color: rgba(35, 166, 240, 1);
    color: #fff;
    font-weight: bold;
    padding: 10px 8px;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}
#nav-btn:hover {
    background-color: rgba(35, 166, 240, 0.8);
}
.nav-btn-2 {
    background: transparent;
    color: #23A6F0;
    padding: 10px 8px;
    border: 1px solid #23A6F0;
    border-radius: 5px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}
.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {
    padding: 5% auto; 
}


.banner-cta {
    margin: 40px 33%;
    text-align: center;
    padding: 10px;
    place-items: 40px;
}

.banner-cta h1{
    color: #fff;
}
.banner-cta h4 {
    color: #23A6F0;
    font-weight: 700;
    font-size: 24px;
}

.banner-cta h1 {
    font-size: 58px;
    font-weight: 700px;

}
.banner-cta p{
    color: #fff;
    font-size: 20px;
    font-weight: 400px;

}
.banner-cta h1 {
    color: #fff;
}



.banner-btn {
    margin: 40px auto;
}
.banner-btn button {
    margin: auto 2px;
    padding: 15px 40px;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px; 
}




.footer-site {
    position: sticky;
    top: 100%;
    background-color:#252B42 ;
    color: #fff;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px auto;    
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    margin: 30px 0px;
}

.footer-col {
    text-align: left;
    padding: 0px 30px;
    
}

.footer-bottom {
    width: 100%;   
    background: #fff;
    color: #252B42;
    text-align: center;
    padding: 0px auto;
    margin: 0px;    
}

#footer-txt {
    padding: 20px 0px;
    font-family: inherit;
    text-align: center;
}

.footer-col h2{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 900;
    position: relative;
}

.footer-col h2::before{
    content: '';
    position:absolute;
    left: 0;
    bottom: -10px;
    background-color: #23A6F0;
    height: 3px;
    box-sizing: border-box;
    width: 50px;

}

.white-txt {
    color: white;
}


.footer-col ul li:not(:last-child) {    
    margin-bottom: 10px;       
}

ul {
    list-style: none; 
}

ul li a {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}

.footer-col ul li a:hover {
    color: #fff;
    padding-left: 5px;

}

.social-icon a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #23A6F0;
    margin: 10px 10px 10px 0;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #252B42;
    transition: all 0.5s ease;
    font-size: 20px;
}

.footer-col .social-icon a:hover{
    color: #23A6F0;
    background-color: #fff;
}

/*Responsive*/
@media(max-width 767px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width 674px){
    .footer-col {
        width: 100%;
        margin-bottom: 30px;
    }

}


