section {
    padding: 60px 0;
}

body {
    color: black;
}

.accordion-item{
    border: 1px solid gray;
}

.accordion-button:not(.collapsed) {
    color: inherit;
    background: darkgray;

}

.accordion-button:not(.collapsed)::after{
           
}
.accordion-button:focus{
    box-shadow: none;
}